code/amq/02_update-enrich-content-REST-and-WS-microservices/update-amq-enrich-persist-lab/src/main/resources/wsdl/customerService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.usecase.fuse.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="CustomerWSService" targetNamespace="http://service.usecase.fuse.org/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.usecase.fuse.org/" elementFormDefault="unqualified" targetNamespace="http://service.usecase.fuse.org/" version="1.0">

  <xs:element name="CorporateAccount" type="tns:corporateAccount"/>

  <xs:element name="updateAccount" type="tns:updateAccount"/>

  <xs:element name="updateAccountResponse" type="tns:updateAccountResponse"/>

  <xs:complexType name="updateAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:account"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="account">
    <xs:sequence>
      <xs:element name="clientId" type="xs:int"/>
      <xs:element minOccurs="0" name="company" type="tns:company"/>
      <xs:element minOccurs="0" name="contact" type="tns:contact"/>
      <xs:element minOccurs="0" name="salesRepresentative" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="company">
    <xs:sequence>
      <xs:element name="active" type="xs:boolean"/>
      <xs:element minOccurs="0" name="geo" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="contact">
    <xs:sequence>
      <xs:element minOccurs="0" name="city" type="xs:string"/>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="phone" type="xs:string"/>
      <xs:element minOccurs="0" name="state" type="xs:string"/>
      <xs:element minOccurs="0" name="streetAddr" type="xs:string"/>
      <xs:element minOccurs="0" name="zip" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateAccountResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:corporateAccount"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="corporateAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="company" type="tns:company"/>
      <xs:element minOccurs="0" name="contact" type="tns:contact"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="salesContact" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="updateAccountResponse">
    <wsdl:part element="tns:updateAccountResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateAccount">
    <wsdl:part element="tns:updateAccount" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CustomerWS">
    <wsdl:operation name="updateAccount">
      <wsdl:input message="tns:updateAccount" name="updateAccount">
    </wsdl:input>
      <wsdl:output message="tns:updateAccountResponse" name="updateAccountResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerWSServiceSoapBinding" type="tns:CustomerWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="updateAccount">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateAccount">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateAccountResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerWSService">
    <wsdl:port binding="tns:CustomerWSServiceSoapBinding" name="CustomerWSPort">
      <soap:address location="http://localhost:9090/ws/customerService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>